{% extends "master.html" %}

{% block script %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/quantity-widget.js" %}"></script>

<style>
 .nqty { background-color:red }
 .qfield { width: 40px;
     border: none;}
</style>

<script type="text/javascript">
 $(function() {
     $( "#names > input" ).each(
         function(_i, e){
             $(e).button();
         });
     $( "input[type=submit]" ).button();

     // FIXME: Is there a better way to do this?
     $(window).on("qty:create", function(e) {
         $(".qty-widget").each(function(i, e) {
             var e = $(this);
             if ( e.data("category") == "sellable") {
                 e.quantity({'id': e.data("id"), 'validator':
                             {% block validator-sellable %}
                     function(v) {
                         return true;
                     }
                     {% endblock %}
                 });
             } else if ( e.data("category") == "refundable" ) {
                 e.quantity({'id': e.data("id"), 'validator':
                             {% block validator-refundable %}
                     function(v) {
                         return true;
                     }
                     {% endblock %}
                 });
             }
             });

     });

     $(window).trigger("qty:create");
 });

</script>
{% endblock %}

{% block content %}
<form method="POST" action="{% block post-action %}{% endblock %}">
    {% csrf_token %}
    <div class="container mb2 p1"><div class="block">Hvem er med?</div>
        <div id="names" class=".flex-wrap">
            {% for name in names %}
            <input type="checkbox" class="who" id="who{{name.pk}}" name="who" value="{{ name.pk }}" />
            <label for="who{{name.pk}}">{{ name.username|capfirst }}</label>
            {% endfor %}
        </div>
    </div>
    <div class="container p1 mb2">
        <label for="what" class="block">Beskrivelse</label>
        <input type="text" name="what" class="field"/>
    </div>
    <h2>Salgsvarer</h2>
    <table class="sortable">
        <thead>
            <tr>
                <td class="center">
                    <div>Navn</div>
                    <div class="gray">Leverandør</div>
                    <td class="">Antal</td>
            </tr>
        </thead>
        <tbody>
            {% for product in sellables %}
            {% include "product-fragment.html" with category="sellable" %}
            {% endfor %}
            {% block sellable-extra-rows %}{% endblock %}

        </tbody>
    </table>-
    <h2>Returvarer (pant)</h2>
    <table class="sortable">
        <thead>
            <tr>
                <td class="center">
                    <div>Navn</div>
                    <div class="gray">Leverandør</div>
                    <td class="">Antal</td>
            </tr>
        </thead>
        <tbody>
            {% for product in refundables %}
            {% include "product-fragment.html" with category="refundable" %}
            {% endfor %}
            {% block refundable-extra-rows %}{% endblock %}
        </tbody>
    </table>

    <input type="submit" value="Opdater" />
</form>

{% endblock %}
