{% extends "master.html" %}

{% block script %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/quantity-widget.js" %}"></script>

<style>
.trHighlight { box-shadow: 0 0 5px; }
 .nqty { background-color:red }
 .qfield { width: 40px;
     border: none;}
 .form-error {
     display: none;
 }
</style>

<script type="text/javascript">
 $(function() {
     $( "#names > input" ).each(
         function(_i, e){
             $(e).button();
         });
     $( "input[type=submit]" ).button();

     // FIXME: Is there a better way to do this?
     $(window).on("qty:create", function(e) {
         $(".qty-widget").each(function(i, e) {
             var e = $(this);
             if ( e.data("category") == "sellable") {
                 e.quantity({'id': e.data("id"), 'validator':
                             {% block validator-sellable %}
                     function(v) {
                         return true;
                     }
                     {% endblock %}
                 });
             } else if ( e.data("category") == "refundable" ) {
                 e.quantity({'id': e.data("id"), 'validator':
                             {% block validator-refundable %}
                     function(v) {
                         return true;
                     }
                     {% endblock %}
                 });
             }
             });

     });

     $(window).trigger("qty:create");

     $("#updateform").on("submit", function(event){
         event.preventDefault();

         var error = false;
         $('.form-error').hide();

         // Make sure at least one name is checked
         if (! $("input[name='who']:checked").length > 0){
             $("#names-error").show();
             error = true;
         }

         // Make sure at least one quantity is changed
         // FIXME: Rename class to qty-field or something. More logical when we
         // use it this way
         var qty_changed = $('.qty-widget').map(function(_i, e) {
             return $(e).val() != $(e).data("curval");
         }).get().reduce(function(cur, prev, _i, _a) {
             return cur || prev;
         }, false);
         if(!qty_changed) {
             $("#qty-error").show();
         }
         console.log(qty_changed);
         error |= (!qty_changed);

         if(error) {
             $('html, body').animate({
                 scrollTop: $(".form-error:visible").first().offset().top
             }, 100);
             return false;
         }

         this.submit();
     });
 });

</script>
{% endblock %}

{% block content %}
<form method="POST" id="updateform" action="{% block post-action %}{% endblock %}">
    {% csrf_token %}
    <div class="container mb2 p1"><div class="block">Hvem er med?</div>
        <p class="form-error bold red" id="names-error">Vælg mindst en person</p>
        <fieldset id="names" class="flex-wrap" style="border: none">
            {% for name in names %}
            <input type="checkbox" class="who" id="who{{name.pk}}" name="who" value="{{ name.pk }}" />
            <label for="who{{name.pk}}">{{ name.username|capfirst }}</label>
            {% endfor %}
        </fieldset>
    </div>
    <div class="container p1 mb2">
        <label for="what" class="block">Beskrivelse</label>
        <input type="text" name="what" class="field"/>
    </div>
    <h2>Salgsvarer</h2>
    <p class="bold red form-error" id="qty-error">Mindst en kvantitet skal ændres
    <table class="sortable">
        <thead>
            <tr>
                <td class="center">
                    <div>Navn</div>
                    <div class="gray">Leverandør</div>
                    <td class="">Antal</td>
            </tr>
        </thead>
        <tbody>
            {% for product in sellables %}
            {% include "product-fragment.html" with category="sellable" %}
            {% endfor %}
            {% block sellable-extra-rows %}{% endblock %}

        </tbody>
    </table>
    <h2>Returvarer (pant)</h2>
    <table class="sortable">
        <thead>
            <tr>
                <td class="center">
                    <div>Navn</div>
                    <div class="gray">Leverandør</div>
                    <td class="">Antal</td>
            </tr>
        </thead>
        <tbody>
            {% for product in refundables %}
            {% include "product-fragment.html" with category="refundable" %}
            {% endfor %}
            {% block refundable-extra-rows %}{% endblock %}
        </tbody>
    </table>

    <input type="submit" value="Opdater" />
</form>

{% endblock %}
