{% extends "master.html" %}

{% block header %} Historik {% endblock %}


{% block nav-history %}btn-primary{% endblock %}


{% block content %}

<table class="border tablesorter" >
  <thead>
    <tr>
      <td>Id</td>
      <td>Produkt</td>
      <td>Antal</td>
      <td>Ændring</td>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td colspan="4">{{ event.description }} i anledning af TODO udført af {% for u in event.eventname_set.all %}{{ u|capfirst }} {% endfor %} {{ event.date }} {{ event.time }}</td>
    </tr>
    {% for change in event.change_set.all %}
    <tr>
      <td>{{ change.pk }}</td>
      <td>{{ change.product }}</td>
      <td>{{ change.quantity }}</td>
      <td>{{ change.delta }}</td>
    </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>

{% endblock %}
