{#<?xml version="1.0" encoding="utf-8"?>#}
<!DOCTYPE htnl>
<html>
  <head>
    <title>Lagerstyring - {% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/basscss.min.css" %} />
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.min.css" %} />
    {% load staticfiles %}
    <script type="text/javascript" src="{% static  "js/jquery-2.1.4.min.js" %}" ></script>
    {% block script %} {% endblock %}
  </head>
  <body>
    <header>
      <h1>Lagerstyring - {% block header %} {% endblock %}</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/stock">Lagerbeholdning</a></li>
        <li><a href="/restock">Levering</a></li>
        <li><a href="/replenish">Opfyldning</a></li>
        <li><a href="/correction">Korrektion</a></li>
        <li><a href="/history">Historik</a></li>
    </nav>
    <main>
      <section>
        {% block content %} {% endblock %}
      </section>
    </main>
    <footer>
      Sonething about this site
    </footer>
  </body>
</html>
