{% extends "master.html" %}

{% block header %} Opfyldning {% endblock %}

{% block content %}

<form method="POST" action="/replenish">
  {% csrf_token %}

  <label value="Navn" for="who" />
  <select name="who">
    {% for name in names %}
    <option value="{{ name.pk }}">{{ name.name }}</option>
    {% endfor %}
  </select>
  <lavel value="Anledning" for="what" />
  <input type="text" name="what" />
  <table class="sortable">
    <thead>
      <tr>
        <td>Id</td>
        <td>Navn</td>
        <td>Leverandør</td>
        <td>Antal</td>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.pk }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.vendor }}</td>
        <td><input type="text" name="{{ product.pk }}_qty" value="{{ product.quantity }}" /></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="submit" />
</form>

{% endblock %}
