{% extends "base-update.html" %}

{% block header %} Levering {% endblock %}

{% block nav-restock %}btn-primary{% endblock %}

{% block validator-sellable %}
function(v) {
return v >= 0;
}
{% endblock %}
{% block validator-refundable %}
function(v) {
return v <= 0;
}
{% endblock %}

{% block post-action %}/restock{% endblock %}

{% block sellable-extra-rows %}
{% include "addproduct-fragment.html" with category="sellable" only %}
{% endblock %}

{% block refundable-extra-rows %}
{% include "addproduct-fragment.html" with category="refundable" only %}
{% endblock %}
